header{
	height: 12.79em;
  a.logo {
    height: 100%;
    width: 31%;
    display: block;
    h1{
      background: image-url("logo.gif") no-repeat;
      background-size: 100%;
      position: relative;
      color: transparent;
      left: 0.4em;
      top: -0.3em;
      width: 91.5%;
      height: 100%;
    }
  }
  .login {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.1);
    float: right;
    position: relative;
    top: -105%;
    padding: 1.1%;
    height: 25%;
    width: 45.5%;
    input, label{
      display: inline-block;
      margin-left: 1%;
      vertical-align: middle;
    }
    input{  
      width: 28%;
      height: 1.7em;
    }
    input[type="submit"]{
      width: 0.9em;
      background: #000 image-url("icono.png");
      height: 0.9em;
      background-position: -12px -114px;
    }
    label{
      width: auto;
      text-align: right;
    }
  }
}