.menu{
  ul{
    list-style: none;
    width: 100%;
    height: 18.2em;
    margin-top: -0.2em;
    text-indent: 17%;
    li{
      background: rgba(0, 0, 0, 0.1);
      border-bottom: 0.045em solid white;
      height: 25%;
      width: 100%;
      color: transparent;
      text-shadow: 0px 0px 3px #fff;
      font-size: 216%;
      line-height: 2em;
      font-weight: bold;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    li:hover{
      width: 102%;
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

.menu:hover{
  text-shadow: 0px 0px 5px #0d1a3a;
}
.menu a:hover li{
  color: #000;
  text-shadow: 0px 0px 1px #fff;
}

.social{
  margin-top: 1.2em;
  .face, .gplus, .twitter{
    display: inline-block;
    margin-left: 1.9em;
  }
  a{
    color:#333;
    font-size: 2.4em;
  }
  a:hover{
    color:#FCB6FA;
    text-shadow: 0px 0px 3px #000;
  }
  .face{
    a{font-size:2.6em;}
  }
}




  // margin-top: 1.2em;
  // text-indent: 1em;
  // a{
  //   font-size: 2.4em;
  //   color: #000;
  // }
  // a:hover{
  //   color: #FCB6FA;
  // }