body{
	background: image-url("bg1.png");
  .container{
    max-width: 74.94em;
    background: image-url("bg.png");
  }
  a, a:visited, a:hover, a:active{  text-decoration: none;  }
}

nav, section{
   display: inline-block;
}

nav{
   width:15em;
   float:left;
}

section{
   position: relative;
   width: 59.8em;
   top: -4.5em;
   .orbit-wrapper {
      width: 80% !important;
      margin: auto;
    }
   #slider{
      width: 45em;
      margin:auto;
      ul{
         list-style: none;         
      }
   }
}

.orbit-wrapper{
  .orbit {
    width: 87% !important;
    margin: auto;
  }
  .slider-nav{
    span.right, span.left {
      background: image-url("right-arrow.png") no-repeat;
      background-size: 100%;
      width: 5em;
    }
    span.left{
      -webkit-transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
}
