//tablet style
@media (max-width: 970px){
	.menu ul{ text-indent: 10%; }
	.social{
	  a{ margin-left: 0.5em; }
	}
	footer a img { max-width: 16%; }
	// Catálogo
	
	.lista_marcas{
		ul a li{
      		font-size: 158%;
      		line-height: 2.8em;
      		width: 110%;
    	}
    	ul a li:hover{
      		width: 108%;
    	}
    	span{	display: none; } 
  	}
  
	.lista_fotos img { width: 45.6%; }
	// Contacto
	.contacto {
		width: 80%;
		margin-left: 3em;
	}
	.deco{ display:none; }
}
//Mobile (Vista Horizontal)
@media (max-width: 767px){
	.container{
		background: image-url("bg.png")!important;
	}
	header{
		height: 15.79em;
	}
	nav, section{
		display:block;
		float: none!important;
	}
	.login, .menu ul, #menu-btn-close{  display: none;  }
	#menu-btn{	display: block;  }
	#menu-btn, #menu-btn-close{
		span{
			display: block;
			margin:auto;
			margin-top: 1.5%;
			position:static;
			height: 2em;
		}
		height: 2.7em;  
		background-color:rgba(0,0,0,0.15);
		position:static;	
	}
	a.logo {
		margin: auto;
		width: 76%!important;
	}
	.menu{
		ul{
			height: auto;
			margin-top: 0;
			background: rgba(0,0,0,0.09);
			.stock{
				display: none;
			}
			li{ 
				a, p{  text-align: center!important;  }
				text-indent: 0%!important;
				line-height: 1.7em;
				font-size: 1em;
			}
		}
	}
	.social{
		margin-top: -0.5em;
		text-align: center;
		a{  margin: 2% 8%;  }
	}
	section{
		position: static;
		margin:auto;
		width: 90%;
	}
	// Inicio
	.orbit-wrapper .orbit{ box-shadow: none;}
	.orbit-wrapper .slider-nav{
    	span.right, span.left { 
    		width:50em;
    		top:30%;
    	}
    }
    section #slider{
		height: 400px!important;
	    .caption {
		  position: static;
		  background: rgba(0, 0, 0, 0.2);
		  height: 100%;
		  width: 100%;
		  padding: 2%;
		  color: white;
		  h1{
			font-size: 1.2em;
			font-weight: bold;
		  }
		}
	}


	// Catálogo
	.catalogo{ padding-top:0; }
	.lista_marcas {
    float: none;
    width: 91%;
    ul{ 
    	text-indent: 0;
    	height: auto;
    	li{ text-align: center; }
    }
		img{ display: none;}
  }
  .lista_fotos{
  	width: 100%;
  	margin:auto;
  	margin-top: 1em;
  	height: auto;
  	overflow:visible;
  	img{ 
  		width:100%; 
  		margin-right: 0;
  	}
  }
	// Contacto
	.contacto{
		width: 100%;
		margin-left: 0%;
		h2{ font-size:1.6em;}
		label, input, textarea{ margin-top:0;}
		label{ 
			width:100%; 
			margin-left: 0;
		}
		input, textarea{
			width:100%;
			margin-bottom: 0.5em;
		}
	 	input[type="submit"]{
	 		margin-left: 0;
	 		width: 100%;
	 	}
	}
	footer{
		text-align: center;
		a img{ 
			max-width: 36%;
			vertical-align: middle;
		}
		h1, a img{ position:static;}
		h1{
			margin-top: 2em;
		}		
	}
}
//Mobile 2(Posición Vertical)
@media (max-width: 400px){
	section{
		margin-top: -6em;
		#slider{ height: auto;}
	}
}