//tablet style
@media (max-width: 939px){
	.menu ul{ text-indent: 10%; }
	.social{
	  a{ margin-left: 0.5em; }
	}
	footer a img { max-width: 16%; }
	// Catálogo
	.lista_marcas span{	display: none; }
	.lista_fotos img { width: 45.6%; }
	// Contacto
	.contacto {
		width: 80%;
		margin-left: 3em;
	}
	.deco{ display:none; }
}
//mobile style
@media (max-width: 767px){
	.container{
		background: image-url("bg.png")!important;
	}
	header{
		height: 15.79em;
	}
	nav, section{
		display:block;
		float: none!important;
	}
	.login, .menu ul, nav span{  display: none;  }
	#menu-btn{  display: block;  }
	a.logo {
		margin: auto;
		width: 76%!important;
	}
	.menu{
		ul{
			height: auto;
			margin-top: 0;
			text-align: center;
			background: rgba(0,0,0,0.09);
			.stock{
				display: none;
			}
			li{ 
				text-indent: 0%;
				line-height: 1.7em;
				font-size: 2em;
			}
		}
	}
	.social{
		margin-top: -0.5em;
		text-align: center;
		a{  margin: 2% 8%;  }
	}
	section{
		position: static;
		margin:auto;
	}
	// Contacto
	.contacto{
		width: 124%;
		margin-left: -2em;
		h2{ font-size:1.6em;}
		label, input, textarea{ margin-top:0;}
		label{ 
			width:100%; 
			margin-left: 0;
		}
		input, textarea{
			width:100%;
			margin-bottom: 0.5em;
		}
	 	input[type="submit"]{
	 		margin-left: 0;
	 		width: 100%;
	 	}
	}
}